<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="well well-lg">
        <div class="pic">
          <a href="#"><img src="/images/img/user_avatar.jpg" width="50" height="50" /></a>
        </div>
      
        <h1 class="success"><%= user.username %></h1>
      </div>
 <!--    </div>

    <div class="col-md-4"> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Friends</h3>
        </div>
        <div class="panel-body">
          <div id="friendList" class="pre-scrollable y-scrollable">
            <% if (friends){ %>
            <% for (var u=0; u < friends.length; u++){ %>
                <a class="nodecoration" href="/message/<%= friends[u].id %>">
                <div class="row row-padding row-btn <% if (friendId == friends[u].id){ %> row-btn-active <% } %>" > 
                  
                    <span class="username"><%= friends[u].username %></span>
                  
                <br>
                
              </div>
              </a>
              <% if (u<friends.length-1){ %>
                <hr>
              <% } %>
            <% } %>
          <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="panel panel-default">
          <% if (friendId!=-1){ %> 
            <div class="panel-heading" style = "padding-bottom:35px;">
              <textarea class="form-control" rows="3" id = "messageArea"></textarea>
              <div class="btn btn-sm btn-info btn-right" data-toid = "<%= friendId %>" id='sendMessage'>Send</div>
            </div>
          <% } %>
          <div class="text-center"><h1>Messages</h1></div>
          <div class="panel-body">
            <div id="messageList" class="pre-scrollable y-scrollable">
              <% if (user.messages && user.messages[friendId]){ %>
              <% for (var u=0; u < user.messages[friendId].length; u++){ %>
                <% var message = user.messages[friendId][u] %>
               
                  <% if (message.from === user.username){ %>
                    <div class="row row-padding messageFrom">
                    <a href="/user/show/<%= user.id %>"><span class="userFrom success"><%= message.from %></span></a>
                  <% } else { %>
                    <div class="row row-padding messageTo">
                    <a href="/user/show/<%= friendId %>"><span class="userFrom info"><%= message.from %></span></a>
                  <% } %>
                  
                  <div class = "messageText">
                    <%= message.text %>
                  </div>
                  <div class = "messageDate">
                    <%= message.date %>
                  </div>
                  <br>
                  <% if (u<user.messages[friendId].length-1){ %>
                  <hr>
                  <% } %>
                </div>
              <% } %>
            <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<script>
      
  $(document).ready(function(){
    $("#sendMessage").click(function(){
      to = $(this).data('toid');
      message = $("#messageArea").val()
      if(message == "") alert('Please input a message')
      else{
        console.log('making post')
        $.ajax({
          type: "POST",
          url: "/message/"+to,
          data: {message: message},
          success: function(){
            console.log('successful post')
            $("#messageArea").val('')
            console.log('successful post 2')
            if ($("#messageList").children().length>0) $("#messageList").append($("<hr>"));


            var row = $('<div class="row row-padding messageFrom">')
            var userFrom = $('<span class="userFrom info">')
            userFrom.html("<%= user.username %>")
            var messageText = $('<div class = "messageText">')
            messageText.html(message)
            var messageDate = $('<div class = "messageDate">')
            messageDate.html(new Date())
          
            row.append(userFrom)
            row.append(messageText)
            row.append(messageDate)
            $("#messageList").append(row)

            console.log("messageSent")
          }
        });
      }
    });
  });

</script>

